/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400&display=swap');
$primary-font-family:   'Merriweather', serif;
// $primary-font: 'VT323', monospace;
$primary-font-size: 1.3rem;
$primary-font-weight: 300;

/* Color definition */
$color1: rgba(0, 0, 0, 1);
$color4: rgba(131, 151, 136, 1);
$color3: rgba(238, 224, 203, 1);
$color2: rgba(186, 168, 152, 1);
$color5: rgba(191, 215, 234, 1);

/* Main Section */

$main-bg-color: $color3;
$main-border:  0px;
$main-margin: 0px;
$main-padding: 0px;

/* Editor */
$editor-container-margin: 0px;
$editor-container-padding: 0px;
$editor-container-bg-color: inherit;
$editor-container-border: none;

$editor-text-container-margin: 0px;
$editor-text-container-padding: 0px;
$editor-text-container-bg-color: inherit;
$editor-text-container-border: none;


$editor-padding: 40px 80px 40px 80px;
$editor-margin: 0px;
$editor-bg-color: inherit;
$editor-color: $color1;
$editor-font-size:  $primary-font-size;
$editor-font-weight: $primary-font-weight;

/* Scroll Bars */
$scrollbar-width: auto;
$scrollbar-thumb-color: $color4;
$scrollbar-track-color: $color2;

/* Footer */
$footer-height: 30px; 
$footer-color: $color3;
$footer-bg-color: $color4;
$footer-font-size: 1rem; 
$footer-font-weight: 500; 

$footer-item-margin: 0 0 0 20px;
$footer-item-first-child-margin: 0 20px 0 20px;

/* Import Base Theme */
@import "app.scss" 