/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
$primary-font-family: 'Raleway', sans-serif;


// $primary-font: 'VT323', monospace;
$primary-font-size: 1.1rem;
$primary-font-weight: 400;

/* Color definition */
$color2: rgba(50, 41, 47, 1);
$color3: rgba(153, 225, 217, 1);
$color1: rgba(240, 247, 244, 1);
$color5: rgba(112, 171, 175, 1);
$color4: rgba(112, 93, 86, 1);


/* Main Section */

$main-bg-color: $color1;
$main-border:  0px;
$main-margin: 0px;
$main-padding: 0px;

/* Editor */
$editor-container-margin: 0px ;
$editor-container-padding: 0px;
$editor-container-bg-color: inherit;
$editor-container-border: none;

$editor-text-container-margin: 0px;
$editor-text-container-padding: 0px;
$editor-text-container-bg-color: inherit;
$editor-text-container-border: none;


$editor-padding: 25px 50px;
$editor-margin: 0px;
$editor-bg-color: inherit;
$editor-color: $color2;
$editor-font-size: $primary-font-size;
$editor-font-weight: $primary-font-weight;

/* Scroll Bars */
$scrollbar-width: thin;
$scrollbar-thumb-color: $color4;
$scrollbar-track-color: $color1;

/* Footer */
$footer-height: 30px; 
$footer-color: $color1;
$footer-bg-color: $color4;
$footer-font-size: 1.1rem; 
$footer-font-weight: 500; 

$footer-item-margin: 0 0 0 20px;
$footer-item-first-child-margin: 0 20px 0 20px;

/* Import Base Theme */
@import "app.scss"  