/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Martel+Sans:200,300,400&display=swap');
$primary-font-family: 'Martel Sans', sans-serif;


// $primary-font: 'VT323', monospace;
$primary-font-size: 1.4rem;
$primary-font-weight: 200;

/* Color definition */
$color3: rgba(8, 126, 139, 1);
$color2: rgba(255, 90, 95, 1);
$color1: rgba(60, 60, 60, 1);
$color4: rgba(245, 245, 245, 1);
$color5: rgba(193, 131, 159, 1);


/* Main Section */

$main-bg-color: $color1;
$main-border:  0px;
$main-margin: 0px;
$main-padding: 0px;

/* Editor */
$editor-container-margin: 0px ;
$editor-container-padding: 0px;
$editor-container-bg-color: inherit;
$editor-container-border: none;

$editor-text-container-margin: 0px;
$editor-text-container-padding: 0px;
$editor-text-container-bg-color: inherit;
$editor-text-container-border: none;


$editor-padding: 80px;
$editor-margin: 0px;
$editor-bg-color: inherit;
$editor-color: $color4;
$editor-font-size: $primary-font-size;
$editor-font-weight: $primary-font-weight;

/* Scroll Bars */
$scrollbar-width: thin;
$scrollbar-thumb-color: $color4;
$scrollbar-track-color: $color1;

/* Footer */
$footer-height: 35px; 
$footer-color: $color1;
$footer-bg-color: $color4;
$footer-font-size: 1rem; 
$footer-font-weight: 500; 

$footer-item-margin: 0 0 0 20px;
$footer-item-first-child-margin: 0 20px 0 20px;

/* Import Base Theme */
@import "app.scss"  